.ad_box {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    height: 60px;
}

.ad_box .ad_bg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background: #000;
    opacity: 0.8;
    /*filter alpha(opacity=80)*/
    z-index: 3;
}

.ad_box .ad_con {
    overflow: hidden;
    width: 100%;
    height: 60px;
    padding: 0 5%;
    position: absolute;
    bottom: 0px;
    z-index: 4;
    opacity: 0.9;
    /*filter alpha(opacity=90)*/
}

.ad_l {
    float: left;
    width: 130px;
    height: 60px;
    padding: 10px 0 0 52px;
    background: url("../images/logo_2.png") no-repeat left 12px;
    background-size: 38px 38px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}

.ad_r {
    float: right;
    width: 120px;
    margin-right: 10%;
    margin-top: 20px;
    overflow: hidden;
}

.ad_close {
    float: right;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 2px;
    background: url("../images/ad_close.png") no-repeat center center;
    background-size: 18px 18px;
    cursor: pointer;
}

.top_box {
    width: 100%;
    height: 36px;
    padding: 12px 5% 0;
    background: #fff;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
    position: fixed;
}

.top_box img {
    float: left;
    width: 75px;
    height: 20px;
}

a.open_btn {
    float: right;
    margin-right: 10%;
    display: inline-block;
    width: 64px;
    height: 20px;
    border: 1px solid #fd464b;
    border-radius: 2px;
    outline: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #fd464b;
}